---
title: API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - terminal

toc_footers:
  - Copyright © 2021 - <a href='canarybit.eu'>CanaryBit AB</a>

includes:
  - authentication
  - enclaves

search: true

code_clipboard: false

---

# Introduction

Welcome to the <a href="http://confidentialcloud.io" target="_blank">Confidential Cloud</a> API!

You can use our API to access all public Confidential Cloud API endpoints.
