---
title: API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - shell

toc_footers:
  - Copyright © 2021 - <a href='canarybit.eu'>CanaryBit AB</a>

includes:
  - enclaves
  - errors

search: true

code_clipboard: false

---

# Introduction

Welcome to the ConfidentialCloud API!

You can use our API to access ConfidentialCloud API endpoints, which can ...

You can view code examples in the dark area to the right.

# Authentication

> To authorize, use this code:

```shell
# With shell, you can just pass the correct header with each request
curl "api_endpoint_here" \
  -H "Authorization: abcdefghijklmnopqrstuvwxyz"
```

> Make sure to replace `abcdefghijklmnopqrstuvwxyz` with your API key.

`Authorization: abcdefghijklmnopqrstuvwxyz`

<aside class="notice">
You must replace <code><api_key></code> with your personal API key.
</aside>
